
<h2>Productos</h3>

{{#each productsData}}
  <h3>{{title}}</h2>
  <p>{{description}}</p>
  <p> $:{{price}}</p>
  <p> Código:{{code}}</p>
  <p> Stock:{{stock}}</p>
  <p> {{thumbnails}}</p>
  <p> {{_id}}</p>
{{/each}}



