<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <style>
        body {
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f3f4f6;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;
        }

        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #dddaca;
            padding: 1rem;
        }

        .col-4 {
            width: 33.33%;
            text-align: center;
        }

        .greeting {
            font-weight: bold;
        }

        .admin {
            font-weight: bold;
            color: #6366f1;
        }

        .sessionButton {
            text-decoration: none;
            color: #6366f1;
            margin: 0 0.5rem;
        }

        .sessionButton:hover {
            text-decoration: underline;
        }

        button {
            padding: 0.5rem 1rem;
            background-color: #6366f1;
            color: #ffffff;
            border: none;
            border-radius: 0.25rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #4f46e5;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>{{Tittle}}</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-4 text-center">
                <div class="greeting">
                    <b>Hola,</b>
                    {{#if user}}
                    <b>{{user.name}}</b>
                    {{#if user.admin}}
                    <span class="admin">(Admin)</span>
                    {{/if}}
                    {{else}}
                    Inicia tu sesión
                    {{/if}}
                </div>
                <div>
                    {{#if user}}
                    <a href="#" onclick="location.href='/api/sessions/signout'" class="sessionButton">Salir</a>
                    {{else}}
                    <a href="#" onclick="location.href='/api/views/login'" class="sessionButton">Ingresa</a> |
                    <a href="#" onclick="location.href='/api/views/signup'" class="sessionButton">Registrate</a>
                    {{/if}}
                </div>
            </div>
            <div class="col-4 text-right">
                <button onclick="goToCart()">Mi carrito</button>
            </div>
        </div>
        {{{body}}}
    </div>
</body>

</html>